* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style-type: none;
}

input:focus {
    outline: none;
}

.container {
    margin: 0 200px;
    padding: 20px 0;
}
/* start plane */
.plane {
    position: relative;
    height: 100vh;
    background-image: url("../image/plane-a.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.plane::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.plane .container {
    position: relative;
}

header {
    display: grid;
    grid-template-columns: repeat(400px, 1fr);
    max-height: 66px;
}

header h2 {
}

header h2 span {
    color: aqua;
}

header nav {
position: relative;
top: -25px;
}

header i {
    position: relative;
    top: -25px;
    right: -284px;
    display: none;
}



header nav ul {
    display: flex;
    justify-content: flex-end;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    cursor: pointer;
}




.booking {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-between;
}

.booking span {
    font-size: 60px;
}
.booking .book {
    margin-left: 200px;
    border-top: 6px solid rgb(82, 196, 196);
    background-color: white;
    width: fit-content;
    padding: 20px;
    color: black;
    min-width: 300px;

}
.booking .book h3 {
    color: black;
    margin-bottom: 20px;
}
.booking form {
    
}

.booking .book p {
    font-size: 20px;
    color:#999;
}

.booking form input:not(:last-child){
    padding: 10px 80px 10px 10px;
    margin-bottom: 20px;
    width: 100%;
}

.booking .book form input[type = "submit"] {
    background-color: rgb(35, 98, 98);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer; 
    width: 100%;
    padding: 10px;
    text-align: center;
}
@media (max-width: 1199px) {
    .booking .book {
            margin-left: 0;
    }
    
.booking span { 
    font-size: 40px;
}
.booking { 
    padding-top: 100px;
}
}
@media (max-width: 991px) {
    .container {
            margin: 0 50px;
            padding: 20px 0;
        }
    .booking span {
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    header nav {
        display: block;
        margin: 60px auto 0;
    }
}
/* end plane */

/* start destination */
.destination {
    padding-top: 50px;
}

.destination .text {
    text-align: center;
}

.destination .text h3 {
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 10px;
}

.destination .text p {
    font-size: 18px;
    color: #777;
    padding: 0 200px;
    margin-bottom: 40px;
}

.destination .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
}

.destination .box {
    /* margin-top: 50px; */
    /* max-width: 300px; */
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    overflow: hidden;
}

.destination .box .text-box {
    padding: 20px;
}

.destination .box h4 {
    margin-bottom: 10px;
}

.destination .box a {
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    display: block;
    width: fit-content;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
    margin: 20px auto;
}

.destination .box img {
    max-width: 100%;
}

@media (max-width: 768px) {
    .destination .text p {
        padding: 0;
    }
}

/* end destination */
/* start details */

.details {
    margin-top: 50px;
    background-color: rgb(14, 101, 101);
    padding: 50px 40px 80px;
    color: white;
    text-align: center;
}

.details .head h3 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 10px;
}

.details .head p {
    color: #ccc;
    line-height: 1.7;
    padding: 0 300px;
    margin-bottom: 30px;
}

.details .head {
    text-align: center;
}

.details .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}

.details .container .box .number {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
}

.details .container .box h3 {
    margin: 40px 0;
}

.details .container .box p {
    color: #ccc;
}
@media (max-width: 768px) {
    .details .head p {
        padding: 0;
    }
}
/* end details */
/* strat service */

.service {
    background-image: url("../image/tower.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service span {
    font-size: 50px;
    color: white;
    width: 50%;
    line-height: 1.7;
}
@media (max-width: 768px) {
    .service span {
        font-size: 30px;
        width: 100%;
        padding: 0 20px;
        color: black;
    }
}
/* end service */

/* start success */
.success {
    margin-top: 100px;    
}
.success .text {
    text-align: center;
}

.success .text h3 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 10px;
}

.success .text p {
    margin: 0 300px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.success .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    text-align: center;
}

.success .box span {
    font-size: 50px;
    color: rgb(39, 198, 198);
}

.success .box h4 { 
    font-size: 20px;
    color: #777;
}
@media (max-width: 768px) {
    .success .text p {
        margin: 0;
        padding: 0 20px;
    }
}
/* end success */
/* start subscribe */

.subscribe {
    margin-top: 50px;
    text-align: center;
    background-color: rgb(57, 57, 191);
    padding: 100px;
    color: white;
    height: 50vh;
    
}

.subscribe h3 {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 15px;
}

.subscribe p {
    color: #ccc;
    margin-bottom: 30px;
}

.subscribe form input[type="email"] {
    padding: 10px 40px 10px 10px;
    border: none;
}

.subscribe form input[type = "submit"] {
    background-color: rgb(11, 105, 105);
    color: white;
    text-align: center;
    border: none;
    padding: 10px 40px;

}
@media (max-width: 768px) {
    .subscribe form input[type="email"] { 
        margin-bottom: 20px;
    }
}
/* end subscribe */
/* start footer */

footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
    justify-content: center;
}
.about {
    /* margin-right: 100px; */
}
.dest {
    margin-left: 100px;
}
.hotels {
    margin-left: 100px;
}
footer h3 {
    text-transform: uppercase;
    margin-bottom: 10px;
}
footer p {
    color: #777;
    line-height: 1.7;
    /* max-width: 250px; */
}
footer span {
    display: block;
    padding-bottom: 10px;
}
footer ul li {
    color: rgb(36, 165, 165);
    margin-bottom: 10px;
}
@media (max-width: 768px) {
    footer {
        text-align: center;
    }
    .about {
        margin-bottom: 20px;
    }
    .dest, .hotels {
        margin: 0;
        margin-bottom: 20px;
    }
}
/* end footer */